dl {
  border-left: 1px dotted #ddd;
  border-bottom: 1px dotted #ddd;
}
dl dt {
  background-color: #f8f8f8;
  padding: 0.35em 1em 0.25em 1em;
  /* text-decoration: underline; */
  /* border-bottom: 1px solid #ccc; */
}
dl dd {
  margin-top: 0.35em;
  margin-bottom: 0.65em;
}
li {
  margin-bottom: 0.8em;
}
.sidenote {
  float: right;
  width: 20em;
  padding: 0 1em 0 1em;
  background-color: #ff8;
  border: 1px solid #cc0;
  font-family: sans-serif;
}
